*{
    margin: 0px;
}   

header{
    padding: 4rem;
    background-color: lightgray;
}


nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    list-style: none;
    gap: .8rem;
}