main h1{
    font-size: 60px;
    background-color: rgb(120, 30, 60);
    color: rgb(250,255,250) ;
    text-align: center;
    font-family: Open Sans Condensed;
    padding:20px;
    margin: 0px;
    text-transform: uppercase;
    border-bottom: 8px solid #000; 
}
main {
    float:left;
    width: 85%;
  
}

.container{
width: 840px; 
margin: auto;
padding-bottom:50px;
}

h2{
    font-size: 40px;
    font-family: Open Sans Condensed;
    clear:both;
}

p{
   text-align:justify;
   margin: 20px 0px; 
}
blockquote{
    background-color: #D9E5E3;
    padding: 16px;
    border: 10px solid #c2ccca;
    width: 250px;
    margin: 0px;
    box-sizing: border-box;
   
}
.fiat{
    float:right;
}
.petrobras{
    float:left;
}
aside, img{
    background-color: #3C1D3D;
    text-align:center;
    float: right;
    width:13,5%;

}
 
aside{
 clear: right;
 position: relative;
top: 310px;
border: 8px solid #000; 
}
nav h1{
     color: #F2FFFC; 
}

nav ul li{
    display: block;
}
nav a {
    color: #F2FFFC;
}

ul {
    color:    #F2FFFC;
    list-style: none;
    text-align:center;
}
ul li a {
    color: inherit;
}

.icones-sociais li{
    display:inline-block;


}
 .icones-sociais a {
    display:inline-block;
    height: 40px;
    width:40px;
    text-indent: -9999px;
 }

.github {
    background-image: url("github.png");
}
.linkedin {
    background-image: url("linkedin.png");
}
.twitter {
    background-image:url("twitter.png");
  }

  footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    clear: both;
    position: fixed;
    width:100%;
    bottom: 0;

  }
  .minha-foto{
     position:absolute;
     top:0;
     right:0;
     border: 8px solid #000; 

  }

  /*Pagina Portfolio*/
.fundo-portfolio{
 background-color: #FAFFFC;

}
.container div{

    width: 300px;
    height: 300px;
    margin:10px;
    background-color:aqua;
    display: inline-block;
    padding: 16px;
    border:8px solid #000;
  }

.container div img{
    width: 320px;
    height: 151px;
  position : relative;
  top: 0;
  left:10px; 
}

figcaption{
    font-family:inherit;
    font-size: 18px;
    margin-top: 25px;
    display: block;
    padding: 10px;
    text-decoration: underline;
    position: relative;
    top: 10px;
    text-align: justify;
    color: #851944; 

}